.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid #d1dce3;
  border-radius: 4px;
}

@media (min-width: 720px) {
  .App {
    flex-direction: row;
  };
}
